@using Insurance.Resources
@model Insurance.Models.LifeSavingsInsuranceModels
@Html.HiddenFor(m => m.SelectedInsurance)
@Html.HiddenFor(m => m.SelectedDate)
<div class="form_control  form_control-50 comnBox comnfld">
    <h3>@Master_en.HouseHold_Id</h3>
    @Html.TextBoxFor(m => m.ID, new { @class = "inputtext", @placeholder = Master_en.IDNumber, @autocomplete = "off" })
    @Html.ValidationMessageFor(a => a.ID, string.Empty, new { @class = "text-danger" })
</div>
<div class="form_control form_control-50 comnBox comnfld">
    <h3>@Master_en.Life_LimitOfCoverage</h3>
    @Html.TextBoxFor(m => m.LimitOfCoverage, new { @class = "inputtext", @placeholder = @Master_en.Life_LimitOfCoverage, @autocomplete = "off" })
    @Html.ValidationMessageFor(a => a.LimitOfCoverage, string.Empty, new { @class = "text-danger" })
</div>
<div class="form_control form_control-50 comnBox comnfld">
    <h3>@Master_en.LIfe_StartDateofInsurance</h3>
    @Html.TextBoxFor(m => m.StartDate, new { @class = "inputtext", @type = "date" })
    @Html.ValidationMessageFor(a => a.StartDate, string.Empty, new { @class = "text-danger" })
</div>


