@using Insurance.Utils
@using Insurance.Resources
@model Insurance.Models.LifeSavingsInsuranceModels
@{ ViewBag.Title = "Life & Savings";
    Layout = "~/Views/Shared/_LayoutStatic_en.cshtml"; }
<style>
    .card-body {
        width: 450px !important;
        left: 15%;
    }
</style>
<div class="banner_1" id="div1">
    <div class="newForm">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frminsurance" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.SelectedDate)
                        <input type="hidden" id="userlgn" value="@(SessionHelper.IsUser()?"true":"false")" />
                        <div class="stepForm_mn">
                            <div class="stepForm_item">
                                <div class="stepForm_1">
                                    @Master_en.InsLifeAndSavings
                                </div>

                                <div class="stepForm_2">

                                    <div class="form_control ">
                                        <div class="textHead">@Master_en.HouseHold_Id</div>
                                        @Html.TextBoxFor(m => m.ID, new { @class = "inputtext", @placeholder = Master_en.IDNumber, @autocomplete = "off" })
                                        @Html.ValidationMessageFor(a => a.ID, string.Empty, new { @class = "text-danger" })
                                    </div>
                                    <div class="form_control ">
                                        <div class="textHead">@Master_en.Life_LimitOfCoverage</div>
                                        @Html.TextBoxFor(m => m.LimitOfCoverage, new { @class = "inputtext", @placeholder = @Master_en.Life_LimitOfCoverage, @autocomplete = "off" })
                                        @Html.ValidationMessageFor(a => a.LimitOfCoverage, string.Empty, new { @class = "text-danger" })
                                    </div>

                                    <div class="form_control ">
                                        <div class="textHead">@Master_en.LIfe_StartDateofInsurance</div>
                                        @Html.TextBoxFor(m => m.StartDate, new { @class = "inputtext", @type = "date" })
                                        @Html.ValidationMessageFor(a => a.StartDate, string.Empty, new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="stepForm_item">

                                <div class="stepForm_3">
                                    <div id="divCaptcha">
                                        <img src="@String.Format("data:image/png;base64,{0}", Model.CaptchaImage)" />
                                    </div>
                                    <a href="javascript:void(0)" onclick="ReloadCaptchaCode();" style="margin: 0 0 0 8px; text-decoration: none;"> <img src="~/Content/frontenten/images/refress_icon.png" border="0" /><b>Reload Captcha</b></a>
                                    <input type="text" name="Code" class="inputtext" id="txtCaptcha" style="width:100%;" required oninvalid="this.setCustomValidity('Please enter captcha code.')" oninput="this.setCustomValidity('')" autocomplete="off" />
                                </div>
                                <div class="stepForm_4">
                                    <button type="button" name="next" id="btnsubmit" class="button">@Master_en.HouseHold_GetQuotation</button>
                                </div>
                                <div class="stepForm_5">
                                    @Html.CheckBoxFor(m => m.TermsCondition, new { @type = "checkbox" })
                                    @Html.ValidationMessageFor(a => a.TermsCondition, string.Empty, new { @class = "text-danger" })
                                    @*<input type="checkbox">*@
                                    @Master_en.HouseHold_IAgreeToGrant
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="header_tabinner">
        <a class="header_tab icon2" href="/home/VehicleInsurance">
            <div class="header_tabtooltip">@Master_en.InsVehicleinsurance</div>
        </a>
        <a class="header_tab icon5" href="/home/Medical">
            <div class="header_tabtooltip">@Master_en.InsMedical</div>
        </a>
        <a class="header_tab icon6" href="/home/MedicalMalpractice">
            <div class="header_tabtooltip">@Master_en.InsMedicalMalpractice</div>
        </a>
        <a class="header_tab icon4" href="/home/Travel">
            <div class="header_tabtooltip">@Master_en.InsTravel</div>
        </a>
        <a class="header_tab icon3" href="/home/LifeAndSavings">
            <div class="header_tabtooltip">@Master_en.InsLifeAndSavings</div>
        </a>
        <a class="header_tab icon1" href="/Home/HouseHold">
            <div class="header_tabtooltip">@Master_en.InsHouseHold</div>
        </a>
    </div>
</div>
<div id="dialog" title="User Login" style="display:none;z-index:9999999;overflow:hidden;">
    @{Html.RenderAction("LoginPage", "Home");}
</div>
@Scripts.Render("~/bundles/jqueryval")
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Content/frontendjs/insuranceform.js"></script>
<script>
    (function ($) {
        $.validator.unobtrusive.adapters.addBool("checkboxrequired", "required");
    }(jQuery));
    $("#btnsubmit").click(function (e) {
        e.preventDefault();
        // now trigger the form validation, result is 1 or 0
        var result = $('form').valid();
        if (result) {
            $('#SelectedDate').val($('#StartDate').val());
            //verify captcha
            var captchacode = $("#txtCaptcha").val();
            if (captchacode != "") {
                var url = "/Home/ValidateCaptcha?Code=" + captchacode;
                $('#divVerify').html("Please wait....");
                $.ajax({
                    url: url,
                    cache: false,
                    success: function (data) {
                        if (data == "0") {
                            alert("Please enter a valid captcha");
                        } else {
                            //if captcha true then
                            //Check step form
                            if ($('#userlgn').val() == "true") {
                                if (EnableStep3('AddLifeSavingsInsurance')) {
                                    return false;
                                }
                                else {
                                    return false;
                                }
                            }
                            else {
                                //debugger;
                                EnableStep2();
                            }
                        }
                    },
                    error: function (reponse) {
                        alert("Error while sending detail. Pleae refresh page and try again.");
                    }

                });
            } else {
                alert("Please enter captcha code.");
            }
        }
    });
    $("#btnloginsubmit").click(function (e) {
        e.preventDefault();
        // now trigger the form validation, result is 1 or 0
        var result = $('#frmlogin').valid();
        if (result) {
            if (AccountLogin('AddLifeSavingsInsurance')) {
                return false;
            }
            else {
                return false;
            }
        }
    });
</script>