@using Insurance.Utils
@using Insurance.Resources
@{ ViewBag.Title = "Life & Savings";
    Layout = "~/Views/Shared/_LayoutStatic_en.cshtml"; }
@model Insurance.Models.LifeSavingsInsuranceModels
<div class="stepForm">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header_right">
                    <div class="header_tabs">
                        <div class="header_tabinner">
                            <a class="header_tab icon2" href="/home/VehicleInsurance">
                                <div class="header_tabtooltip">@Master_en.InsVehicleinsurance</div>
                            </a>
                            <a class="header_tab icon5" href="/home/Medical">
                                <div class="header_tabtooltip">@Master_en.InsMedical</div>
                            </a>
                            <a class="header_tab icon6" href="/home/MedicalMalpractice">
                                <div class="header_tabtooltip">@Master_en.InsMedicalMalpractice</div>
                            </a>
                            <a class="header_tab icon4" href="/home/Travel">
                                <div class="header_tabtooltip">@Master_en.InsTravel</div>
                            </a>
                            <a class="header_tab icon3" href="/home/LifeAndSavings">
                                <div class="header_tabtooltip">@Master_en.InsLifeAndSavings</div>
                            </a>
                            <a class="header_tab icon1" href="/Home/HouseHold">
                                <div class="header_tabtooltip">@Master_en.InsHouseHold</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frminsurance" }))
                {
                    @Html.AntiForgeryToken()
                    <!-- progressbar -->
                    <ul id="progressbar">

                        <li class="active" id="listep1">
                            <span>@Master_en.Step1</span>
                            @Master_en.MenuHome
                            <div class="progressbar_flag">@Master_en.InProgress</div>
                        </li>
                        <li id="listep2">
                            <span>@Master_en.Step2</span>
                            @Master_en.Owner
                        <div class="progressbar_flag">@Master_en.Pending</div>
                        </li>
                        <li id="listep3">
                            <span>@Master_en.Step3</span>
                            @Master_en.Quotes
                            <div class="progressbar_flag">@Master_en.InProgress</div>
                        </li>

                    </ul>
                    <!-- fieldsets -->
                    <br>
                    <fieldset id="div1">
                        <input type="hidden" id="userlgn" value="@(SessionHelper.IsUser()?"true":"false")" />
                        @Html.HiddenFor(m => m.IsInsurance)
                        <div class="formfieldmn">
                            <div class="formfieldmn_item formfieldmn_head">
                                <h1>@Master_en.Life_TellUsAboutYourself</h1>
                            </div>
                        </div>
                        <div class="formfieldmn">

                            <div class="form_control form_control-50">
                                @Html.TextBoxFor(m => m.Name, new { @class = "inputtext", @type = "text", @placeholder = Master_en.Contact_Name })
                                @Html.ValidationMessageFor(a => a.Name, string.Empty, new { @class = "text-danger" })
                            </div>
                            <div class="form_control form_control-50">
                                @Html.TextBoxFor(m => m.Age, new { @class = "inputtext", @type = "text", @placeholder = Master_en.Trravel_Age })
                                @Html.ValidationMessageFor(a => a.Age, string.Empty, new { @class = "text-danger" })
                            </div>

                            <div class="form_control form_control-50">
                                @Html.DropDownListFor(m => m.Gender, Model.GenderList, Master_en.Travel_Gender, new { @class = "select" })
                                @Html.ValidationMessageFor(a => a.Gender, string.Empty, new { @class = "text-danger" })
                            </div>

                            <div class="form_control form_control-50">
                                @Html.TextBoxFor(m => m.AnnualIncome, new { @class = "inputtext", @type = "text", @placeholder = Master_en.Life_AnualIncome })
                                @Html.ValidationMessageFor(a => a.AnnualIncome, string.Empty, new { @class = "text-danger" })
                            </div>

                            <div class="form_control form_control form_control-50">
                                @Html.DropDownListFor(m => m.Tobbaco, Model.TobbacoList, Master_en.Life_SelectTobaccoNicotine, new { @class = "select" })
                                @Html.ValidationMessageFor(a => a.Tobbaco, string.Empty, new { @class = "text-danger" })
                            </div>
                            <div class="form_control form_control-50">
                                @Html.TextBoxFor(m => m.EmailId, new { @class = "inputtext", @type = "text", @placeholder = Master_en.PHolderEmail })
                                @Html.ValidationMessageFor(a => a.EmailId, string.Empty, new { @class = "text-danger" })
                            </div>
                            <div class="form_control ">
                                @Html.TextBoxFor(m => m.Address, new { @class = "inputtext", @type = "text", @placeholder = Master_en.Address })
                                @Html.ValidationMessageFor(a => a.Address, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="formfieldmn">
                            <div class="formfieldmn_item formfieldmn_head">
                                <h1>@Master_en.Vehicle_DoYouAlreadyHaveAnInsurance</h1>
                            </div>
                            <div class="formfieldmn_item formfieldmn_form">

                                <div class="toggleBtn">
                                    <div class="toggleBtn_txt">@Master_en.Yes</div>
                                    <div class="btn-container">
                                        <div class="toggle-btn">
                                            <div class="inner-circle"> </div>
                                        </div>
                                    </div>
                                    <div class="toggleBtn_txt">@Master_en.No</div>
                                </div>
                            </div>
                        </div>

                        <br><br>
                        <div class="button_div">
                            <button type="button" name="next" id="btnsubmit" class="button">@Master_en.Continue</button>
                        </div>
                    </fieldset>
                    <fieldset id="div2" style="display:none;">
                        <div class="formfieldmn">
                            @{Html.RenderAction("LoginPage", "Home");}
                        </div>
                    </fieldset>
                    <fieldset id="div3" style="display:none;">
                        <div class="formfieldmn" style="display:block;left:10%">
                            <div id="divmsg">
                                <h3 style="color:red;">@Master_en.InsuranceSubmittedQuote</h3>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Content/frontendjs/insuranceform.js"></script>
<script>
    $("#btnsubmit").click(function (e) {
        e.preventDefault();
        // now trigger the form validation, result is 1 or 0
        var result = $('form').valid();
        if (result) {
            //Check IsInsurance
            if ($('.toggle-btn').hasClass('active')) {
                $('#IsInsurance').val('No');
            }
            else {
                $('#IsInsurance').val('Yes');
            }
            //Check step form
            if ($('#userlgn').val() == "true") {
                if (EnableStep3('AddLifeSavingsInsurance')) {
                    return false;
                }
                else {
                    return false;
                }
            }
            else {
                EnableStep2();
            }
        }
    });
    $("#btnloginsubmit").click(function (e) {
        e.preventDefault();
        // now trigger the form validation, result is 1 or 0
        var result = $('form').valid();
        if (result) {
            if (AccountLogin('AddLifeSavingsInsurance')) {
                return false;
            }
            else {
                return false;
            }
        }
    });
</script>