@using Insurance.Utils
@using Insurance.Resources
@{ ViewBag.Title = "Travel";
    Layout = "~/Views/Shared/_LayoutStatic_en.cshtml"; }
<div class="stepForm">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">

                <div class="header_right">
                    <div class="header_tabs">
                        <div class="header_tabinner">
                            <a class="header_tab icon2" href="/home/VehicleInsurance">
                                <div class="header_tabtooltip">@Master_en.InsVehicleinsurance</div>
                            </a>
                            <a class="header_tab icon5" href="/home/Medical">
                                <div class="header_tabtooltip">@Master_en.InsMedical</div>
                            </a>
                            <a class="header_tab icon6" href="/home/MedicalMalpractice">
                                <div class="header_tabtooltip">@Master_en.InsMedicalMalpractice</div>
                            </a>
                            <a class="header_tab icon4" href="/home/Travel">
                                <div class="header_tabtooltip">@Master_en.InsTravel</div>
                            </a>
                            <a class="header_tab icon3" href="/home/LifeAndSavings">
                                <div class="header_tabtooltip">@Master_en.InsLifeAndSavings</div>
                            </a>
                            <a class="header_tab icon1" href="/Home/HouseHold">
                                <div class="header_tabtooltip">@Master_en.InsHouseHold</div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-10">

                <form id="msform">
                    <!-- progressbar -->
                    <ul id="progressbar">

                        <li class="active">
                            <span>@Master_en.Step1</span>
                            @Master_en.MenuHome
                            <div class="progressbar_flag">@Master_en.InProgress</div>
                        </li>
                        <li>
                            <span>@Master_en.Step2</span>
                            @Master_en.Owner
                            <div class="progressbar_flag">Pending</div>
                        </li>
                        <li>
                            <span>@Master_en.Step3</span>
                            @Master_en.Quotes
                            <div class="progressbar_flag">@Master_en.InProgress</div>
                        </li>

                    </ul>
                    <!-- fieldsets -->
                    <br>
                    <br>
                    <br>


                    <fieldset>
                        <div class="formfieldmn">
                            <div class="formfieldmn_item formfieldmn_head">
                                <h1>Tell us about your home</h1>
                                <h3 class="fs-subtitle">We'll only ask the required details.</h3>
                            </div>
                        </div>
                        <div class="formfieldmn">


                            <div class="button-group-pills text-center" data-toggle="buttons">
                                <label class="btn btn-default active">
                                    <input type="radio" name="options" checked="">
                                    <div>House</div>
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="options">
                                    <div>Condo</div>
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="options">
                                    <div>Rental</div>
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="options">
                                    <div>Apartment</div>
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="options">
                                    <div>Other</div>
                                </label>
                            </div>
                        </div>



                        <div class="formfieldmn">
                            <div class="formfieldmn_item formfieldmn_head">
                                <h1>What's the address you'd like to ensure?</h1>
                                <h3 class="fs-subtitle">We'll only ask the required details.</h3>
                            </div>
                        </div>
                        <div class="formfieldmn">

                            <div class="form_control form_control-50">
                                <input type="text" name="" class="inputtext" placeholder="Name">
                            </div>
                            <div class="form_control form_control-50">
                                <input type="text" name="" class="inputtext" placeholder="Age">
                            </div>

                            <div class="form_control form_control-50">
                                <select class="select">
                                    <option>Gender</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>

                            <div class="form_control form_control-50">
                                <select class="select">
                                    <option>Destination Coundry</option>

                                </select>
                            </div>


                            <div class="form_control form_control form_control-50">
                                <input type="text" name="" class="inputtext" placeholder="Trip Date from">
                            </div>


                            <div class="form_control form_control form_control-50">
                                <input type="text" name="" class="inputtext" placeholder="Trip Date To">
                            </div>
                        </div>




                        <div class="formfieldmn">
                            <div class="formfieldmn_item formfieldmn_head">
                                <h1>Do you already have an insurance?</h1>
                            </div>
                            <div class="formfieldmn_item formfieldmn_form">

                                <div class="toggleBtn">
                                    <div class="toggleBtn_txt">YES</div>
                                    <div class="btn-container">
                                        <div class="toggle-btn">
                                            <div class="inner-circle"> </div>
                                        </div>
                                    </div>
                                    <div class="toggleBtn_txt">NO</div>
                                </div>
                            </div>
                        </div>

                        <br><br>
                        <div class="button_div">
                            <button type="button" name="next" class="next button">@Master_en.Continue</button>
                        </div>

                        <!-- <input type="button" name="next" class="next button" value="Save & Continue"/> -->

                    </fieldset>
                    <fieldset>


                        <!-- <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                        <input type="button" name="next" class="next action-button" value="Next"/> -->


                        <button type="button" name="previous" class="previous button">previous</button>
                        <button type="button" name="next" class="next button">Save & Continue</button>

                    </fieldset>
                    <fieldset>


                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                        <input type="submit" name="submit" class="submit action-button" value="Submit" />
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>
