@using Insurance.Utils
@using Insurance.Resources
@{ ViewBag.Title = "Vehicle Insurance";
    Layout = "~/Views/Shared/_LayoutStatic_en.cshtml"; }
@model Insurance.Models.VehicleInsuranceModels
<style>
    .card-body {
        width: 450px !important;
        left: 15%;
    }
    .uncheck {
        display: block;
        border: 5px solid #AAAAAA;
        border-radius: 100%;
        height: 25px;
        width: 25px;
        z-index: 5;
        transition: border .25s linear;
        -webkit-transition: border .25s linear;
    }
    #div1 {
        background: url(../../images/vehicle.jpeg) !important;
    }
</style>
<div class="banner_1" id="div1">
    <div class="newForm">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frminsurance" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.PurposeOfInsurance)
                        @Html.HiddenFor(m => m.RegistrationType)
                        @Html.HiddenFor(m => m.SelectedDate)
                        <input type="hidden" id="userlgn" value="@(SessionHelper.IsUser() ? "true" : "false")" />
                        <div class="stepForm_mn clsvehicle">
                            <div class="stepForm_item">
                                <div class="stepForm_1">
                                    @Master_en.InsVehicleinsurance
                                </div>

                                <div class="stepForm_2">
                                    <div class="form_control ">
                                        <div class="textHead">@Master_en.Vehicle_PuposeOfInsurance</div>
                                        <div class="form-group">
                                            <div class="form_control-radio">
                                                <input type="radio" id="f-option-1" checked value="New Insurance" name="rbpurpose1" onclick="CheckPupposeType('rbpurpose1');">
                                                <div class="check" id="dvpr1"></div>
                                                <label for="f-option-1">@Master_en.Vehicle_NewInsurance&nbsp;&nbsp;&nbsp;</label>
                                            </div>
                                            <div class="form_control-radio">
                                                <!--second -->
                                                <input type="radio" id="f-option-2" value="Transfer Of Ownership" name="rbpurpose2">
                                                <div class="check" id="dvpr2"></div>
                                                <label for="f-option-2" onclick="CheckPupposeType('rbpurpose2');">@Master_en.Vehicle_TransferOwnership</label>
                                            </div>
                                        </div>
                                        @Html.TextBoxFor(m => m.ID, new { @class = "inputtext", @placeholder = Master_en.IDNumber, @autocomplete = "off" })
                                        @Html.ValidationMessageFor(a => a.ID, string.Empty, new { @class = "text-danger" })
                                    </div>
                                    <div class="form_control ">
                                        <div class="textHead">@Master_en.Vehicle_RegistrationType</div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <div class="form_control-radio">
                                                    <input type="radio" id="fr-option-1" checked value="Service Number" name="rbreg1" onclick="CheckRegistrationType('rbreg1');">
                                                    <div class="check"></div>
                                                    <label for="fr-option-1">@Master_en.Vechicle_SequenceNumber&nbsp;&nbsp;&nbsp;</label>
                                                </div>
                                                <div class="form_control-radio">
                                                    <!--second -->
                                                    <input type="radio" id="fr-option-2" value="Custom Card" name="rbreg2">
                                                    <div class="check"></div>
                                                    <label for="fr-option-2" onclick="CheckRegistrationType('rbreg2');">@Master_en.Vechicle_CustomCard</label>
                                                </div>
                                            </div>
                                        </div>
                                        @Html.TextBoxFor(m => m.RegistrationTypeNo, new { @class = "inputtext", @placeholder = Master_en.Vehicle_EnterRegistrationType, @autocomplete = "off" })
                                        @Html.ValidationMessageFor(a => a.RegistrationTypeNo, string.Empty, new { @class = "text-danger" })
                                    </div>

                                    <div class="form_control ">
                                        <div class="textHead">@Master_en.HouseHold_StartDate</div>
                                        @Html.TextBoxFor(m => m.StartDate, new { @class = "inputtext", @type = "date" })
                                        @Html.ValidationMessageFor(a => a.StartDate, string.Empty, new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="stepForm_item">

                                <div class="stepForm_3">
                                    <div id="divCaptcha">
                                        <img src="@String.Format("data:image/png;base64,{0}", Model.CaptchaImage)" />
                                    </div>
                                    <a href="javascript:void(0)" onclick="ReloadCaptchaCode();" style="margin: 0 0 0 8px; text-decoration: none;"> <img src="~/Content/frontenten/images/refress_icon.png" border="0" /><b>Reload Captcha</b></a>
                                    <input type="text" name="Code" class="inputtext" id="txtCaptcha" style="width:100%;" required oninvalid="this.setCustomValidity('Please enter captcha code.')" oninput="this.setCustomValidity('')" autocomplete="off" />
                                </div>
                                <div class="stepForm_4">
                                    <button type="button" name="next" id="btnsubmit" class="button">@Master_en.HouseHold_GetQuotation</button>
                                </div>
                                <div class="stepForm_5">
                                    @Html.CheckBoxFor(m => m.TermsCondition, new { @type = "checkbox" })
                                    @Html.ValidationMessageFor(a => a.TermsCondition, string.Empty, new { @class = "text-danger" })
                                    @*<input type="checkbox">*@
                                    @Master_en.HouseHold_IAgreeToGrant
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="header_tabinner">
        <a class="header_tab icon2" href="/home/VehicleInsurance">
            <div class="header_tabtooltip">@Master_en.InsVehicleinsurance</div>
        </a>
        <a class="header_tab icon5" href="/home/Medical">
            <div class="header_tabtooltip">@Master_en.InsMedical</div>
        </a>
        <a class="header_tab icon6" href="/home/MedicalMalpractice">
            <div class="header_tabtooltip">@Master_en.InsMedicalMalpractice</div>
        </a>
        <a class="header_tab icon4" href="/home/Travel">
            <div class="header_tabtooltip">@Master_en.InsTravel</div>
        </a>
        <a class="header_tab icon3" href="/home/LifeAndSavings">
            <div class="header_tabtooltip">@Master_en.InsLifeAndSavings</div>
        </a>
        <a class="header_tab icon1" href="/Home/HouseHold">
            <div class="header_tabtooltip">@Master_en.InsHouseHold</div>
        </a>
    </div>
</div>
<div id="dialog" title="User Login" style="display:none;z-index:9999999;overflow:hidden;">
    @{Html.RenderAction("LoginPage", "Home");}
</div>
@Scripts.Render("~/bundles/jqueryval")
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Content/frontendjs/insuranceform.js"></script>
<script>
    (function ($) {
        $.validator.unobtrusive.adapters.addBool("checkboxrequired", "required");
        $('#PurposeOfInsurance').val($('#f-option-1').val());
        $('#RegistrationType').val($('#fr-option-1').val());
    }(jQuery));
    $("#btnsubmit").click(function (e) {
        e.preventDefault();
        // now trigger the form validation, result is 1 or 0
        var result = $('form').valid();
        if (result) {
            //add selected date
            $('#SelectedDate').val($('#StartDate').val());
            //verify captcha
            var captchacode = $("#txtCaptcha").val();
            if (captchacode != "") {
                var url = "/Home/ValidateCaptcha?Code=" + captchacode;
                $('#divVerify').html("Please wait....");
                $.ajax({
                    url: url,
                    cache: false,
                    success: function (data) {
                        if (data == "0") {
                            alert("Please enter a valid captcha");
                        } else {
                            //if captcha true then
                            //Check step form
                            if ($('#userlgn').val() == "true") {
                                if (EnableStep3('AddVehicleInsurance')) {
                                    return false;
                                }
                                else {
                                    return false;
                                }
                            }
                            else {
                                // debugger;
                                EnableStep2();
                            }
                        }
                    },
                    error: function (reponse) {
                        alert("Error while sending detail. Pleae refresh page and try again.");
                    }

                });
            } else {
                alert("Please enter captcha code.");
            }
        }
    });
    $("#btnloginsubmit").click(function (e) {
        e.preventDefault();
        // now trigger the form validation, result is 1 or 0
        var result = $('#frmlogin').valid();
        if (result) {
            if (AccountLogin('AddVehicleInsurance')) {
                return false;
            }
            else {
                return false;
            }
        }
    });
    function CheckPupposeType(rbname) {
        $('#f-option-1').prop('checked', false);
        $('#f-option-2').prop('checked', false);
        if (rbname == "rbpurpose1") {
            $("#f-option-1").prop("checked", true);
            $('#PurposeOfInsurance').val($('#f-option-1').val());
            return false;
        }
        else {
            $("#f-option-2").prop("checked", true);
            $('#PurposeOfInsurance').val($('#f-option-2').val());
            return false;
        }
    }
    function CheckRegistrationType(rbname) {
        $('#fr-option-1').prop('checked', false);
        $('#fr-option-2').prop('checked', false);
        if (rbname == "rbreg1") {
            $("#fr-option-1").prop("checked", true);
            $('#RegistrationType').val($('#fr-option-1').val());
            return false;
        }
        else {
            $("#fr-option-2").prop("checked", true);
            $('#RegistrationType').val($('#fr-option-2').val());
            return false;
        }
    }
</script>