@model Insurance.Models.LoginViewModel
@{ ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml"; }
<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>Account Login</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email", @placeholder = "Email" })
                @*@Html.ValidationMessageFor(a => a.Email, string.Empty, new { @class = "text-danger" })*@
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password", @placeholder = "Password" })
                @*@Html.ValidationMessageFor(a => a.Password, string.Empty, new { @class = "text-danger" })*@
                @Html.ValidationSummary(false, string.Empty, new { @class = "text-danger" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            @*<input type="checkbox"> Remember Me*@
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        }
        <a href="@Url.Action("ForgotPassword", "Account")">I forgot my password</a><br> @*<a href="@Url.Action("Register", "Examples")" class="text-center">Register a new membership</a>*@
    </div>
    <!-- /.login-box-body -->
</div>