@using Insurance.Resources
@model Insurance.Models.UserLoginViewModel
@{ ViewBag.Title = "UserLogin";
    Layout = "~/Views/Shared/_LayoutStatic_en.cshtml"; }
<div class="login_mn">
    <div class="login_in" style="padding-left:28%">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
                    <div class="card card-signin">
                        <div class="card-body">
                            <h5 class="card-title text-center">@Master_en.UserLogin_SignIn</h5>
                            @*<h3 class="card-title-small ">Lorem ipsum is a placeholder text </h3>*@
                            @using (Html.BeginForm("UserLogin", "Account", FormMethod.Post, new { @class = "form-signin" }))
                            {
                        @Html.AntiForgeryToken()
                                        <div class="card_form">
                                            <div class="card_control">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "card_control_input", @type = "text", @placeholder = Master_en.PHolderEmail })
                                                @Html.ValidationMessageFor(a => a.Email, string.Empty, new { @class = "text-danger" })
                                            </div>
                                            <div class="card_control">
                                                @Html.TextBoxFor(m => m.Password, new { @class = "card_control_input", @type = "password", @placeholder = Master_en.UserLogin_Password })
                                                @Html.ValidationMessageFor(a => a.Password, string.Empty, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                                        <div class="custom-control custom-checkbox mb-3 remForgot">
                                                            <div class="remForgot_item">
                                                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input" })
                                                                <label class="custom-control-label" for="customCheck1">@Master_en.UserLogin_RememberPassword</label>
                                                            </div>
                                                            <div class="remForgot_item">
                                                                <a href="#">@Master_en.UserLogin_ForgotPassword</a>
                                                            </div>
                                                        </div>
                                                                        <button class="btn btn-lg btn-block login_btn" type="button" id="btnSubmit">@Master_en.UserLogin_LogIn</button>
                                                                                        <div class="hrmain" style="display:none;">
                                                                                            <hr class="my-4">
                                                                                        </div>
                                                                           <div class="custom-social" style="display:none;">
                                                                               <button class="btn btn-lg btn-block  facebook_link" type="submit"><img src="~/Content/frontenten/img/google_icon.png"> Sign in with Google</button>
                                                                               <button class="btn btn-lg  btn-block google_link" type="submit"><img src="~/Content/frontenten/img/facebook_icon.png"> Sign in with Facebook</button>
                                                                           </div>
                                                                                                                      
                                                                          <div class="signupAcc">
                                                                             @Master_en.UserLogin_DontHaveAccount <a href="/Account/UserSignup"> Signup</a>
                                                                          </div>}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>setTimeout(function () {
        $('#divmsg').hide();
    }, 4000);
    $("#btnSubmit").click(function (e) {
        e.preventDefault();
        //$('#buttondiv').css('display','block!important;');
        // now trigger the form validation, result is 1 or 0
        var result = $('form').valid();
        if (result) {
            $('form').submit();
        }
    });</script>
