@using Insurance.Resources
@model Insurance.Models.UserResetPasswordViewModel
@{ ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_LayoutStatic_en.cshtml"; }
<div class="login_mn">
    <div class="login_in">
        <div class="container" style="margin-left:28%;">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
                    <div class="card card-signin">
                        <div class="card-body">
                            <h5 class="card-title">@Master_en.ResetYourPpassword</h5>
                            @*<h3 class="card-title-small ">Lorem ipsum is a placeholder text commonly used to demonstrate the  </h3>*@
                            @using (Html.BeginForm("UserResetPassword", "Account", FormMethod.Post, new { @class = "form-signin" }))
                            {
                @Html.AntiForgeryToken()
                                <div class="card_form">
                                    <div class="card_control">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "card_control_input", @type = "email", @placeholder = Master_en.PHolderEmail })
                                        @Html.ValidationMessageFor(a => a.Email, string.Empty, new { @class = "text-danger" })
                                    </div>
                                    <div class="card_control">
                                        @Html.TextBoxFor(m => m.Password, new { @class = "card_control_input", @type = "password", @placeholder = Master_en.UserLogin_Password })
                                        @Html.ValidationMessageFor(a => a.Password, string.Empty, new { @class = "text-danger" })
                                    </div>
                                    <div class="card_control">
                                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "card_control_input", @type = "password", @placeholder = Master_en.Regis_ConfirmPassword })
                                        @Html.ValidationMessageFor(a => a.ConfirmPassword, string.Empty, new { @class = "text-danger" })
                                    </div>
                                    @Html.ValidationSummary(false, string.Empty, new { @class = "text-danger" })
                                </div>
                                                <button class="btn btn-lg btn-block login_btn" type="button" id="btnsubmit">@Master_en.Reset</button>
                                                                <div class="hrmain" style="display:none;">
                                                                   <p>&nbsp;</p>
                                                                </div>
                                                                }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    setTimeout(function () {
        $('#divmsg').hide();
    }, 4000);
    $("#btnsubmit").click(function (e) {
        e.preventDefault();
        //$('#buttondiv').css('display','block!important;');
        // now trigger the form validation, result is 1 or 0
        var result = $('form').valid();
        if (result) {
            $('form').submit();
        }
    });
</script>
