
<html lang="en">
<head>
    <title>Insurance - @ViewBag.Title </title>

    <meta name="description" content="start securing your business decisions" />
    <meta name="keywords" content="start securing your business decisions" />
    <meta name="author" content="nikesh" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="../images/favicon.png" type="images/png" />
    <link href="~/Content/frontentCss/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/frontentCss/style.css" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="~/Content/frontentJs/jquery.min.js"></script>
    <script src="~/Content/frontentJs/popper.min.js"></script>
    <script src="~/Content/frontentJs/bootstrap.min.js"></script>

    <script src="~/Content/frontentJs/TherapistJs.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
</head>
<body>
    <div class="container-fluid px-0">
        <header class="top-header test-header">
            <nav class="navbar navbar-expand-lg navbar-light primary-color">
                <a class="navbar-brand" href="/Therapist/Index"><img src="~/Content/images/logo2.png" /></a>
                <button class="navbar-btn my-3 ml-auto">
                    <span class="navbar-icon one"></span>
                    <span class="navbar-icon two"></span>
                    <span class="navbar-icon three"></span>
                </button>

                <div class="menu-collable">
                    <ul class="navbar-nav text-center apointment-center">
                        <h4>@ViewBag.Title</h4>
                    </ul>
                    <div class="credit-dropdown d-inline my-2 my-lg-0 ml-auto ">
                        <span><i class="fas fa-bell"></i></span>
                        <span class="mb-credits">
                            <span style="background: none" class="row appointment-profile-first">
                                <img style="margin: 5px 0 0 0;border-radius: 15px" src="@Insurance.Utils.SessionHelper.GetProfilePath()" alt="Alternate Text" />
                            </span>
                        </span>
                        <div class="mbdropdown">
                            <i class="fa fa-angle-down show__dropdown"></i>
                            <div class="drop__down account-dropdown hide">
                                <ul>
                                    <li><a href="/Therapist/Profile"><i class="fa fa-sign-in login-icon"></i>Profile</a></li>
                                    <li><a href="/Account/LogOffs"><i class="fa fa-sign-out login-icon"></i>Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    </div>

    <div class="tests-container">
        <sidebar class="tests-sidebar" style="padding-top: 4%;">
            <ul class="side-menu">
                <li class="menu-btn active" id="all-tests"><a href="/Therapist">Today</a></li>
                <li class="menu-btn" id="draft"><a href="/Therapist/Upcoming">Upcoming</a></li>
                <li class="menu-btn" id="running"><a href="/Therapist/Completed">Completed</a></li>
                <li class="menu-btn" id="all"><a href="/Therapist/SelfAssign">Self Assign</a></li>
            </ul>
        </sidebar>
        <div>
            @RenderBody()
        </div>
    </div>
    <script src="~/Content/frontentJs/custom.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>