@model Insurance.ViewModels.AppointmentDetailModel

@{
    ViewBag.Title = "Appointment Details";
    Layout = "~/Views/Shared/_LayoutTherapistWeb.cshtml";
}

<section class="section test-section" id="all-parent">

    <div class="test-create-btn">
        <div class="row justify-content-center align-items-center create-row">
            <div class="col create-new-column"></div>
            <div class="col-sm-auto create-search-column">
                <!--<label class="create-search-sub">
                <input type="text" placeholder="Search for projects"/>
                <a class="create-search"><i class="fa fa-search"></i></a>
                </label>-->
            </div>
        </div>
    </div>

    <div class="row appointment-profile-first">
        <img src="~/Content/userProfile/trkeJ3JxII.png" alt="#" />
        <div class="appointment-profile-details">
            <h4>@Model.FullName</h4>
            <p>@Model.Gender</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 profile_email">
            <a href="mailto: @Model.Email"><i class="fas fa-envelope"></i> @Model.Email</a>
        </div>
        <div class="col-md-6 profile_phone">
            <a href="tel:@Model.Mobile"><i class="fas fa-phone"></i> @Model.Mobile</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col col-sm">
            <div class="appointment-profile-meta">
                <p class="profile-meta_head">Address</p>
                <i class="fa fa-map-marker" aria-hidden="true"></i> @Model.Address
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col col-sm">
            <div class="appointment-profile-meta">
                <p class="profile-meta_head">DATE & TIME</p>
                <p class="profile_appoint-date"><span>@Model.AppointmentDate | @Model.Timing</span></p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col col-sm">
            <div class="appointment-profile-meta">
                <p class="profile-meta_head">THERAPIST TYPE</p>
                <p class="profile_appoint-date"><span>@Model.TherapistType</span></p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col col-sm">
            <div class="appointment-profile-meta">
                <p class="profile-meta_head">TYPE OF CONSULTATION</p>
                <p class="profile_appoint-date"><span>@Model.ConsultationType</span></p>
            </div>
        </div>
    </div>



</section>

