@model Insurance.ViewModels.UserDetailHistoryModel
<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <td colspan="2">
                <h4 class="modal-title">Personal information</h4>
            </td>
        </tr>
        <tr>
            @*<td style="width: 15%;">
                <img style="height: 200px; width: 200px; border-radius: 50%;" id="img" src="#" alt="Alternate Text" />
            </td>*@
            <td colspan="2">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td><b>User Name</b></td>
                            <td id="first_en">@Model.userProfileDetail.FullName_en</td>
                        </tr>
                        <tr>
                            <td><b>Email</b></td>
                            <td id="Email">@Model.userProfileDetail.Email</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <!--Vehicle Insurance-->
        @if (Model.listvehicleInsurance.Count() > 0)
        {
            <tr>
                <td colspan="2">
                    <h4 class="modal-title">Vehicle Insurance</h4>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="table table-striped">
                        <tr>
                            <td>PurposeOfInsurance</td>
                            <td>NatinalId-Iqama </td>
                            <td>RegistrationType</td>
                            <td>RegistrationTypeNo</td>
                            <td>StartDate</td>
                            <td>CreatedOn</td>
                        </tr>
                        @foreach (var item in Model.listvehicleInsurance)
                        {
                    <tr>
                        <td>@item.PurposeOfInsurance</td>
                        <td>@item.IdNumber</td>
                        <td>@item.RegistrationType</td>
                        <td>@item.RegistrationTypeNo</td>
                        <td>@(Convert.ToDateTime(item.StartDate).ToString("dd-MM-yyyy"))</td>
                        <td>@(Convert.ToDateTime(item.CreatedOn).ToString("dd-MM-yyyy"))</td>
                    </tr>
                        }
                    </table>
                </td>
            </tr>
        }
        <!--Medical Insurance-->
        @if (Model.listmedicalInsurance.Count() > 0)
        {
            <tr>
                <td colspan="2">
                    <h4 class="modal-title">Medical Insurance</h4>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="table table-striped">
                        <tr>
                            <td>IDNumber</td>
                            <td>TypeofInsuranceCoverage</td>
                            <td>StartDateofInsurance</td>
                            <td>CreatedOn</td>
                        </tr>
                        @foreach (var item in Model.listmedicalInsurance)
                        {
                    <tr>
                        <td>@item.IdNumber</td>
                        <td>@item.TypeInsuranceCoverage</td>
                        <td>@(Convert.ToDateTime(item.StartDateofInsurance).ToString("dd-MM-yyyy"))</td>
                        <td>@(Convert.ToDateTime(item.CreatedOn).ToString("dd-MM-yyyy"))</td>
                    </tr>
                        }
                    </table>
                </td>
            </tr>
        }
        <!--MedicalMappractice Insurance-->
        @if (Model.listmedicalMalpracticeInsurance.Count() > 0)
        {
            <tr>
                <td colspan="2">
                    <h4 class="modal-title">Medical Malpractice</h4>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="table table-striped">
                        <tr>
                            <td>IDNumber</td>
                            <td>Speciality</td>
                            <td>LimitofLiability</td>
                            <td>StartDateOfInsurance</td>
                            <td>CreatedOn</td>
                        </tr>
                        @foreach (var item in Model.listmedicalMalpracticeInsurance)
                        {
                    <tr>
                        <td>@item.IdNumber</td>
                        <td>@item.Speciality</td>
                        <td>@item.LimitofLiability</td>
                        <td>@(Convert.ToDateTime(item.StartDateInsurance).ToString("dd-MM-yyyy"))</td>
                        <td>@(Convert.ToDateTime(item.CreatedOn).ToString("dd-MM-yyyy"))</td>
                    </tr>
                        }
                    </table>
                </td>
            </tr>
        }
        <!--Travel Insurance-->
        @if (Model.listtravelInsurance.Count() > 0)
        {
            <tr>
                <td colspan="2">
                    <h4 class="modal-title">Travel Insurance</h4>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="table table-striped">
                        <tr>
                            <td>IDNumber</td>
                            <td>Duration</td>
                            <td>PassportNumber</td>
                            <td>Destination</td>
                            <td>CreatedOn</td>
                        </tr>
                        @foreach (var item in Model.listtravelInsurance)
                        {
                            <tr>
                                <td>@item.IdNumber</td>
                                <td>@item.Duration</td>
                                <td>@item.PassportNumber</td>
                                <td>@item.Destination</td>
                                <td>@(Convert.ToDateTime(item.CreatedOn).ToString("dd-MM-yyyy"))</td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        }
        <!--Life & Savings Insurance-->
        @if (Model.listlifeSavingsInsurance.Count() > 0)
        {
            <tr>
                <td colspan="2">
                    <h4 class="modal-title">Life & Savings</h4>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="table table-striped">
                        <tr>
                            <td>IdNumber</td>
                            <td>LimitofCoverage</td>
                            <td>StartDateofInsurance</td>
                            <td>CreatedOn</td>
                        </tr>
                        @foreach (var item in Model.listlifeSavingsInsurance)
                        {
                    <tr>
                        <td>@item.IdNumber</td>
                        <td>@item.LimitCoverage</td>
                        <td>@(Convert.ToDateTime(item.StartDate).ToString("dd-MM-yyyy"))</td>
                        <td>@(Convert.ToDateTime(item.CreatedOn).ToString("dd-MM-yyyy"))</td>
                    </tr>
                        }
                    </table>
                </td>
            </tr>
        }
        <!--HouseHold Insurance-->
        @if (Model.listHouseHoldInsurance.Count() > 0)
        {
            <tr>
                <td colspan="2">
                    <h4 class="modal-title">HouseHold Insurance</h4>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="table table-striped">
                        <tr>
                            <td>IdNumber</td>
                            <td>SumInsured</td>
                            <td>Location</td>
                            <td>TypeofCoverage</td>
                            <td>StartDate</td>
                            <td>CreatedOn</td>
                        </tr>
                        @foreach (var item in Model.listHouseHoldInsurance)
                        {
                            <tr>
                                <td>@item.IdNumber</td>
                                <td>@item.SumInsurred</td>
                                <td>@item.Location</td>
                                <td>@item.TypeofCoverage</td>
                                <td>@(Convert.ToDateTime(item.StartDate).ToString("dd-MM-yyyy"))</td>
                                <td>@(Convert.ToDateTime(item.CreatedOn).ToString("dd-MM-yyyy"))</td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>